################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Better-food-review/FileContentIndex/581d4628-d559-42e8-a32d-3e8c29826005.vsidx
*.vsidx
